@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background-color: #4b4b4b; 
    color: #cac9c9;
}
.navbar{
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 999;
    color: #e4a022;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    width: 95%;
  }
  .logo h1{
    color:#e4a022;
    font-size: 25px;
  }
  .navbar a{
    list-style: none;
    display: flex;
  }
  .navbar a{
    display: block;
    color: #e4a022;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  .navbar a i{
    color: #e4a022;
  }
  .navbar a:hover{
    border-bottom: 4px solid #e4a022;
  }
#about{
    padding: 40px 0;
    color: #ffffff;
    
}
.row{
    display: flex;
    margin: 25px;
    margin-top: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #e4a022;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 90%;
    height: 500px;
    border-radius: 50%; 
    margin: 15px;
}
.about-col-2{
    flex-basis: 65%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 5px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e4a022;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none; 
}
.tab-contents ul li span{
    color: #e4a022;
    font-size: 24px;
}
.tab-contents{
    display: none;
}
.active-tab{
    display: block;
}

.home-sci{
    bottom: 40px;
    width: 250px;
    margin-left: 40%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #e4a022;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: #131212;
    z-index: -1;
    transition: .4s;
}
.home-sci a:hover::before{
    width: 100%;
}