@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.body {
    background-color: #4b4b4b; 
    color: #cac9c9;
    text-align: center;
}
.header {
    position: fixed;
    margin: 15px;
    width: 98%;
    padding: 10px 15px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    border: 2px solid black;
}
.logo{
    color: #e4a022;
    border-radius: 100%;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: #e4a022;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    text-align: left;
}
.navbar a:hover,
.navbar a.active{
    background-color: #131212;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
.contact{
    min-height: 100vh;
    background-color: #4b4b4b;
    padding: 100px;
    text-align: center; 
    border: 2px solid#131212;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #e4a022;
}
.contact-wrapper {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}
.contact-form{
    text-align: left;
}
.form-group {
    margin-bottom: 20px;
}
.input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #131212;
    background-color: #cac9c9;
    color: #e4a022;
}
input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
.button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #131212;
    color: #bbb;
    border: solid blackS;
    cursor: pointer;
}
.button:hover {
    background-color: #131212;
}

.home-sci{
    align-items: center;
    width: 80px;
    height: 80px;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid #AA7D49;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}

.home-sci a:hover{
    color: var(--bg-color);
}
 
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: #AA7D49;
    z-index: -1;
    transition: .4s;
}

.home-sci a:hover::before{
    width: 100%;
}