body {
    text-align: center;
    background-color: #4b4b4b; 
    color: #FFD59D;
}

.header {
    background-color: #AA7D49; /* Copper */
    padding: 20px;
    margin-bottom: 20px;
}

nav a {
    color: #FFD59D; /* Mustard */
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.form {
    background-color: #AA7D49; /* Dark Tan */
    color: #FFD59D; /* Mustard */
    padding: 50px;
    border-radius: 10px;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="subject"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #AA7D49; /* Copper */
    color: #FFDBA2; /* Light Apricot */
    cursor: pointer;
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.home-sci{
    align-items: center;
    width: 80px;
    height: 80px;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid #AA7D49;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}

.home-sci a:hover{
    color: var(--bg-color);
}
 
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: #AA7D49;
    z-index: -1;
    transition: .4s;
}

.home-sci a:hover::before{
    width: 100%;
}